.cv{
  margin:auto;
  display:table;
  display:grid;
}
.left{
    grid-column: 1 ; grid-row: 1;
    background-color: rgb(0, 162, 255);
}
.right{
  grid-column: 2 ; grid-row: 1;
}
.photo {
  /*text-align: center;*/
}
.top .coord{

}
.top .coord .truc {

}


.section{
  width: 750px;
}
.section .titre{
  grid-column: 1 ; grid-row: 1;
  font-size: 30px;
  text-decoration: solid;
  text-decoration-line: underline;
  color: #008cc5;
  font-weight: 900;
  margin-bottom: 10px;
}
.gauche{
   grid-column: 1; grid-row:2;
   font-weight: bold;
}
.droite{
   grid-column: 2; grid-row: 2;
}
